
#temp dirs
.vs
.cache
.settings
.vscode
.idea
.claude/**
.codex/**
.ipynb_checkpoints
.lib/**
**/graphify-out/**
**/graphify**
**/.graphify**

**/compile_commands.json
**/.dep
**/.mcp.json
documentation/_build

#interm files
out
aarch64le-debug
x86_64
build
package
version.py
*.egg-info
lib/
*_defs.h
python*_pkg.cpp
*.log

#binaries
*.png
*.jpg
*.jpeg
*.mp4
*.pth
*.pyc
*.onnx
*.optai
*.whl
*.so
*.engine
*.zip
*.swp
*.exe
*.pyd
*.mp4
*.tgz
onnx_visualizer/test/results/
*.onnx
downloads/
ncnn_backend
# netron sources
netron/
models/

.codex
.clang-tidy
*.local.*